@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21) no-repeat;
}

.top-nav {
    background: rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.top-nav a {
    font-family: 'Bitter', serif;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 33.33%;
    padding: 10px;
}

section {
    height: 100%;
    width: 100%;
}

section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;
    scroll-snap-align: center;
}

section p {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 15px;
    color: white;
}

.sec-01 {
    height: 100vh;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}


.sec-02 {
    height: 100vh;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}

.sec-03 {
    background: rgba(0,0,0,0.5);
    display: inline-grid;
    width: 100%;
    overflow: auto;
    text-align: center;
    scroll-snap-align: center;
}

.sec-03 a {
    display: block;
    font-family: 'Bitter', serif;
    text-decoration: none;
    color: white;
    padding: 10px;
}


.reveal {
    position: relative;
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
}




.image-container {
    display: flex;
    justify-content: center;
    gap: 1em;

}

.image-container img {
    width: 15%;
    height: auto;
}























